article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #fff;
	--color-bg: black;
	--color-link: #fff;
	--color-link-hover: red;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Futura, "futura-pt", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: flex;
	width: 30vw;
}

.frame a {
	text-transform: lowercase;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}


.overlay_menu{
	z-index: 99;
	position: absolute;		
	font-size: 20pt;
}


.menu_container {
	position: relative;
	left: 60vw;
	top: 30vh;
}

.glitch a:hover, .glitch a:focus {
	color: var(--color-link-hover);
	outline: none;
	-webkit-animation-name: flash;
	animation-name: flash;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
	50% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	100% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
  }
  @keyframes hvr-buzz {
	50% {
	  -webkit-transform: translateX(3px) rotate(2deg);
	  transform: translateX(3px) rotate(2deg);
	}
	100% {
	  -webkit-transform: translateX(-3px) rotate(-2deg);
	  transform: translateX(-3px) rotate(-2deg);
	}
  }
  .hvr-buzz {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
	-webkit-animation-name: hvr-buzz;
	animation-name: hvr-buzz;
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  
  }




/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
	16.65% {
	  -webkit-transform: translate(8px, -8px);
	  transform: translate(8px, -8px);
	}
	33.3% {
	  -webkit-transform: translate(-6px, 6px);
	  transform: translate(-6px, 6px);
	}
	49.95% {
	  -webkit-transform: translate(4px, -4px);
	  transform: translate(4px, -4px);
	}
	66.6% {
	  -webkit-transform: translate(-2px, 2px);
	  transform: translate(-2px, 2px);
	}
	83.25% {
	  -webkit-transform: translate(1px, -1px);
	  transform: translate(1px, -1px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
  }
  @keyframes hvr-wobble-to-top-right {
	16.65% {
	  -webkit-transform: translate(8px, -8px);
	  transform: translate(8px, -8px);
	}
	33.3% {
	  -webkit-transform: translate(-6px, 6px);
	  transform: translate(-6px, 6px);
	}
	49.95% {
	  -webkit-transform: translate(4px, -4px);
	  transform: translate(4px, -4px);
	}
	66.6% {
	  -webkit-transform: translate(-2px, 2px);
	  transform: translate(-2px, 2px);
	}
	83.25% {
	  -webkit-transform: translate(1px, -1px);
	  transform: translate(1px, -1px);
	}
	100% {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
  }
  .hvr-wobble-to-top-right {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
	-webkit-animation-name: hvr-wobble-to-top-right;
	animation-name: hvr-wobble-to-top-right;
	-webkit-animation-duration: 1s;
	animation-duration: 0.25s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 3;
  }
@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 3rem;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title links'
							'... ...'
							'github demos';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0;
	}
	.frame__tagline {
		position: relative;
		margin: 0 0 0 1rem;
		padding: 0 0 0 1rem;
		opacity: 0.5;
	}
	.frame__github {
		grid-area: github;
		justify-self: start;
		margin: 0;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}

.container{

}

}
